<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright Cyril M. Hansen 2013
  Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License
  
  https://github.com/cyrilmhansen/DIYGlslLwp
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softwaresemantics.diyglsllwp"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-feature android:name="android.software.live_wallpaper" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_diyglsllwp"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleTask"
        android:multiprocess="false" >

        <!-- android:noHistory="true" -->
        <activity
            android:name=".ShaderGalleryActivity"
            android:allowTaskReparenting="true"
            android:label="@string/title_app"
            android:taskAffinity="com.softwaresemantics.diyglsllwp.Gallery" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- android:process=":LWP" -->

        <service
            android:name=".LiveWallpaper"
            android:allowTaskReparenting="true"
            android:icon="@drawable/ic_diyglsllwp"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:permission="android.permission.BIND_WALLPAPER"
            android:taskAffinity="com.softwaresemantics.diyglsllwp.LWP" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper" />
        </service>

        <!-- android:process=":LWP" -->
        <!-- android:taskAffinity="com.softwaresemantics.diyglsllwp.LWP" -->

        <activity
            android:name=".LivewallpaperSettings"
            android:allowTaskReparenting="false"
            android:exported="true"
            android:label="@string/title_activity_settings" >
            <intent-filter>
                <action android:name="com.softwaresemantics.diyglsllwp.LivewallpaperSettings" />

                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <receiver android:name=".MyBroadCastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>